@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');


body{
    background-image: linear-gradient(315deg, #eff4fa 0%, #f8ebed 74%);
}

.ff{
    font-family: 'Red Hat Display', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




